@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
  padding: 0;
}

.selected-row {
  background-color: #e6f7ff; 
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: transparent !important;
}

.custom-table .ant-table-tbody > tr.selected-row > td {
  background-color: #e6f7ff !important; 
}

.custom-table .ant-table-tbody > tr.selected-row > td {
  color: #1890ff; 
}